.info-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
  position: relative;
}

.level {
  padding: 3px;
  padding: 1px 10px;
  font-weight: bold;
}

.time {
  /* font-weight: bold; */
  font-size: larger;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.close {
  border: 1px solid black;
  padding: 1px 10px;
  background-color: red;
  padding: 1px 10px;
  color: white;
  font-weight: bold;
}
.close:hover {
  cursor: pointer;
}