.container {
  max-width: 40%;
  margin-inline: auto;
}

.header {
  display: flex;
  justify-content: center;
}

.box-row {
  display: flex;
  width: 100%;
}


.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1;
  box-shadow: inset -2px -2px 0 rgba(211, 211, 211, 0.5);
  font-size: 3em;
  font-weight: bold;
  outline: none;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

.blocked {
  background-color: rgba(211, 211, 211, 0.5);

}
.same {
  background-color: lightblue;

}

.error {
  color: red;
}


.input-box:focus {
  background-color: lightblue;
}

.input-box:nth-child(1) {
  border-left: 2px solid black;
}

.input-box:nth-child(3n) {
  border-right: 2px solid black;
}

.box-row:nth-child(3n) {
  border-bottom: 2px solid black;
}
.box-row:nth-child(1) {
  border-top: 2px solid black;
}

@media (max-width:1300px) {
  .container {
    max-width: 70%;
  }
}


@media (max-width:750px) {
  .container {
    max-width: 100%;
  }

  .input-box {
    font-size: 2em;
  }

}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 80vh;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.btn {
  font-size: large;
  padding: 10px;
  width: 100%;
}

.overlay {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}
